.WingKey_key__JrnVp {
    animation: WingKey_upDown__b2Wwd 1.5s ease-in infinite
}

.WingKey_rightWing__stj8d {
    animation: WingKey_flapRight__kXt70 1.5s ease-in infinite
}

.WingKey_leftWing__xXcpV {
    animation: WingKey_flapLeft__aT5gz 1.5s ease-in infinite
}

@keyframes WingKey_upDown__b2Wwd {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(2%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes WingKey_flapRight__kXt70 {
    0% {
        transform-origin: center;
        transform: rotate(0)
    }

    50% {
        transform-origin: center;
        transform: rotate(-2deg)
    }

    to {
        transform-origin: center;
        transform: rotate(0)
    }
}

@keyframes WingKey_flapLeft__aT5gz {
    0% {
        transform-origin: center;
        transform: rotate(0deg)
    }

    50% {
        transform-origin: center;
        transform: rotate(2deg)
    }

    to {
        transform-origin: center;
        transform: rotate(0deg)
    }
}

.RenderAnimation_scroll__0fwwJ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.RenderAnimation_inner__ksK2r {
    margin: auto
}

.RenderAnimation_inner__ksK2r svg {
    transform: unset!important
}

.RenderAnimation_clickable__zwfBb {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer
}

.RenderAnimation_title__JO9SA {
    font-family: Sofia Pro,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-weight: 400;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1.1px;
    color: #dfdbd9;
    text-transform: uppercase
}

.RenderAnimation_scroll-indicator__sqqrj {
    margin: 20px auto
}

.RenderAnimation_scroll-indicator__sqqrj .RenderAnimation_inner__ksK2r {
    width: 30px;
    height: 60px
}

.RenderAnimation_timeturner__5Aetc .RenderAnimation_inner__ksK2r {
    width: 150px;
    height: 150px
}

.Loaders_loader__sZ_xS {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999
}

.Loaders_loader__sZ_xS img,.Loaders_loader__sZ_xS svg {
    display: block;
    margin: 0 auto;
    text-align: center
}

.Loaders_loader__sZ_xS .Loaders_loaderContainer__Y6HUk {
    width: 75%;
    margin: 0 auto
}

@media only screen and (min-width: 1px)and (max-width:1440px)and (orientation:landscape) {
    .Loaders_loader__sZ_xS {
        background-image:url(/assets/_next/static/images/bg-93724927d97aed53189ed6c949ad8547.jpg)
    }
}

@media only screen and (min-width: 1440px)and (max-width:2880px)and (orientation:landscape) {
    .Loaders_loader__sZ_xS {
        background-image:url(/assets/_next/static/images/bg@2x-94387ea1024e309daad19a5561c912d0.jpg)
    }
}

@media only screen and (min-width: 2880px)and (orientation:landscape) {
    .Loaders_loader__sZ_xS {
        background-image:url(/assets/_next/static/images/bg@3x-328bf981778daeb859e69c627ff6589f.jpg)
    }
}

@media only screen and (min-height: 1px)and (max-height:667px)and (orientation:portrait) {
    .Loaders_loader__sZ_xS {
        background-image:url(/assets/_next/static/images/bg-d6a92da714d3627598d5f81d0215c46e.jpg)
    }
}

@media only screen and (min-height: 667px)and (max-height:1334px)and (orientation:portrait) {
    .Loaders_loader__sZ_xS {
        background-image:url(/assets/_next/static/images/bg@2x-8160a51625bbaa270962e1a4a56e3d2a.jpg)
    }
}

@media only screen and (min-height: 1334px)and (orientation:portrait) {
    .Loaders_loader__sZ_xS {
        background-image:url(/assets/_next/static/images/bg@3x-3cc219368556b162c26a29473ef22569.jpg)
    }
}

.Loaders_messageContainer__yhLVT {
    margin-top: 30px;
    text-align: center;
    font-family: Sofia Pro,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-size: 1rem
}

.Loaders_messageContainer__yhLVT span {
    line-height: 2rem
}

.Loaders_paintbrushLoader__c5Tn3 {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -120px
}

@import"https://cdn.fonts.net/t/1.css?apiType=css&projectid=ca696a40-22d4-11ec-b30a-0667ad5da4c8";h1 {
    font-size: 54px;
    line-height: 56px
}

h1,h2 {
    font-family: Bluu Next,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,serif;
    font-weight: 700
}

h2 {
    font-size: 30px;
    line-height: 32px
}

h3 {
    font-size: 20px;
    line-height: 24px
}

h3,h4 {
    font-family: Bluu Next,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,serif;
    font-weight: 700
}

h4 {
    font-size: 16px;
    line-height: 16px
}

.body,body {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #000
}

.body.lock-scroll,body.lock-scroll {
    height: 100%;
    overflow: hidden
}

@media only screen and (max-width: 768px)and (orientation:landscape) {
    .body,body {
        line-height:0
    }
}

.body--1 {
    font-size: 18px
}

.body--1,.body--2 {
    font-family: Sofia Pro,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-weight: 300;
    line-height: 24px
}

.body--2 {
    font-size: 16px
}

.body--3 {
    font-weight: 700
}

.body--3,.body--4 {
    font-family: Sofia Pro,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-size: 14px;
    line-height: 16px
}

.body--4 {
    font-weight: 500
}

.body--5 {
    font-family: Sofia Pro,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px
}

p {
    page-break-inside: avoid
}

a {
    text-decoration: none
}

hr {
    position: relative;
    border: none;
    border-bottom: 1px solid #949494
}

b,strong {
    font-weight: 700
}

.miniCta {
    font-weight: 500;
    line-height: 16px
}

.descriptor,.miniCta {
    font-family: Sofia Pro,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-size: 12px
}

.descriptor {
    font-weight: 700;
    line-height: 24px
}

.visibility-hidden {
    visibility: hidden
}

.error-text,.error-text a {
    font-family: Sofia Pro,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-size: 14px;
    color: #ff525e
}

.error-text a {
    text-decoration: underline
}

.super {
    font-size: .2em;
    vertical-align: 50%
}

input,select,textarea {
    line-height: unset!important
}

.grecaptcha-badge {
    display: none
}

.dark {
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #242633;
    --theme-background-rgb: 36,38,51;
    --theme-secondary-background: #696b78;
    --theme-drop-cap-color: #fff;
    --theme-hero-drop-cap-color: #cdb373;
    --theme-spotlight-background: #10141b
}

.light {
    --theme-text-color: #242633;
    --theme-carousel-color: #242633;
    --theme-background: #f9f4f2;
    --theme-background-rgb: 249,244,242;
    --theme-secondary-background: #f9f4f2;
    --theme-drop-cap-color: #fff;
    --theme-hero-drop-cap-color: #cdb373;
    --theme-spotlight-background: #6b63b5
}

.medium {
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #20011e;
    --theme-background-rgb: 32,1,30;
    --theme-secondary-background: #20011e;
    --theme-drop-cap-color: #fff;
    --theme-hero-drop-cap-color: #cdb373;
    --theme-spotlight-background: #24152f
}

.fan-club {
    --theme-text-color: #231e4e;
    --theme-carousel-color: #fff;
    --theme-color: #231e4e;
    --theme-drop-cap-color: #fff;
    --theme-hero-drop-cap-color: #cdb373;
    --theme-background-rgb: 255,255,255;
    --theme-secondary-background: #fff;
    --theme-spotlight-background: #231e4e
}

.campaign {
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-drop-cap-color: #fff;
    --theme-hero-drop-cap-color: #fff;
    --theme-background: #13101a;
    --theme-background-rgb: 19,16,26;
    --theme-secondary-background: #13101a;
    --theme-background-repeat: repeat-y;
    --theme-background-size: contain;
    --theme-background-image-url-mobile: url(/images/pages/campaign/backgrounds/default-mobile.png);
    --theme-background-image-url-md: url(/images/pages/campaign/backgrounds/default-768.png);
    --theme-background-image-url-lg: url(/images/pages/campaign/backgrounds/default-1025.png);
    --theme-background-image-url-xl: url(/images/pages/campaign/backgrounds/default.png);
    --theme-spotlight-background: #13101a
}

.ravenclaw {
    --theme-color: #004e80;
    --theme-drop-cap-color: #265caa;
    --theme-hero-drop-cap-color: #265caa;
    --theme-drop-cap-bg-image: none;
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #000;
    --theme-background-rgb: 0,0,0;
    --theme-secondary-background: #004e80;
    --theme-spotlight-background: #173151;
    --theme-house-adjective-color: #317adc
}

.slytherin {
    --theme-color: #005416;
    --theme-drop-cap-color: #086c5c;
    --theme-hero-drop-cap-color: #086c5c;
    --theme-drop-cap-bg-image: none;
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #000;
    --theme-background-rgb: 0,0,0;
    --theme-secondary-background: #005416;
    --theme-spotlight-background: #05201c;
    --theme-house-adjective-color: #259a87
}

.gryffindor {
    --theme-color: #8d0000;
    --theme-drop-cap-color: #6a2b2b;
    --theme-hero-drop-cap-color: #6a2b2b;
    --theme-drop-cap-bg-image: none;
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #000;
    --theme-background-rgb: 0,0,0;
    --theme-secondary-background: #8d0000;
    --theme-spotlight-background: #591e1c;
    --theme-house-adjective-color: #fd7366
}

.hufflepuff {
    --theme-color: #f2b800;
    --theme-drop-cap-color: #b17220;
    --theme-hero-drop-cap-color: #b17220;
    --theme-drop-cap-bg-image: none;
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #000;
    --theme-background-rgb: 0,0,0;
    --theme-secondary-background: #f2b800;
    --theme-spotlight-background: #b17220;
    --theme-house-adjective-color: #fdc055
}

.noHouse {
    --theme-color: #474083;
    --theme-drop-cap-color: #474083;
    --theme-hero-drop-cap-color: #474083;
    --theme-drop-cap-bg-image: none;
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #000;
    --theme-background-rgb: 0,0,0;
    --theme-secondary-background: #474083;
    --theme-spotlight-background: #474083
}

.user-ravenclaw {
    --theme-color: #173151;
    --theme-drop-cap-color: #fff;
    --theme-hero-drop-cap-color: #173151;
    --theme-drop-cap-bg-image: linear-gradient(50deg,#0052bb 10%,#6da8ff);
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #173151;
    --theme-background-rgb: 23,49,81;
    --theme-secondary-background: #173151;
    --theme-spotlight-background: #173151
}

.user-gryffindor {
    --theme-color: #361b21;
    --theme-drop-cap-color: #fff;
    --theme-hero-drop-cap-color: #361b21;
    --theme-drop-cap-bg-image: linear-gradient(50deg,#8f302d 10%,#ff5649);
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #361b21;
    --theme-background-rgb: 54,27,33;
    --theme-secondary-background: #361b21;
    --theme-spotlight-background: #361b21
}

.user-slytherin {
    --theme-color: #05201c;
    --theme-drop-cap-color: #fff;
    --theme-hero-drop-cap-color: #05201c;
    --theme-drop-cap-bg-image: linear-gradient(50deg,#005e4e 10%,#00b195);
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #05201c;
    --theme-background-rgb: 5,32,28;
    --theme-secondary-background: #05201c;
    --theme-spotlight-background: #05201c
}

.user-hufflepuff {
    --theme-color: #412c1c;
    --theme-drop-cap-color: #fff;
    --theme-hero-drop-cap-color: #412c1c;
    --theme-drop-cap-bg-image: linear-gradient(50deg,#b17220 10%,#fcb542);
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #412c1c;
    --theme-background-rgb: 65,44,28;
    --theme-secondary-background: #412c1c;
    --theme-spotlight-background: #412c1c
}

.user-no-house {
    --theme-color: #231e4e;
    --theme-drop-cap-color: #fff;
    --theme-hero-drop-cap-color: #231e4e;
    --theme-drop-cap-bg-image: linear-gradient(50deg,#514a92 10%,#9990ea);
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #231e4e;
    --theme-background-rgb: 35,30,78;
    --theme-secondary-background: #231e4e;
    --theme-spotlight-background: #231e4e
}

.discover {
    --theme-text-color: #fff;
    --theme-carousel-color: #fff;
    --theme-background: #10141b;
    --theme-background-rgb: 16,20,27;
    --theme-secondary-background: #696b78;
    --theme-drop-cap-color: #fff;
    --theme-hero-drop-cap-color: #cdb373;
    --theme-spotlight-background: #10141b
}

.characters-and-pets {
    --theme-secondary-background: #281d40;
    --theme-background: #302940;
    --theme-spotlight-background: #3d3458;
    --theme-text-link-color: #c2bbff;
    --theme-divider: #7352b2;
    --theme-color: #5b4882;
    --theme-text-color: #fff
}

.objects {
    --theme-secondary-background: #2e1f32;
    --theme-background: #352938;
    --theme-spotlight-background: #4a3750;
    --theme-text-link-color: #dab4e3;
    --theme-divider: #734179;
    --theme-color: #6c4476;
    --theme-text-color: #fff
}

.locations {
    --theme-secondary-background: #2f1e22;
    --theme-background: #3b282d;
    --theme-spotlight-background: #513a40;
    --theme-text-link-color: #ecc4cb;
    --theme-divider: #7c526a;
    --theme-color: #835d71;
    --theme-text-color: #fff
}

.plants-and-potions {
    --theme-secondary-background: #1b1f14;
    --theme-background: #24261c;
    --theme-spotlight-background: #353a2a;
    --theme-text-link-color: #bcc987;
    --theme-divider: #606644;
    --theme-color: #6d754d;
    --theme-text-color: #fff
}

.creatures {
    --theme-secondary-background: #1c2828;
    --theme-background: #272d2e;
    --theme-spotlight-background: #313e3d;
    --theme-text-link-color: #97bebd;
    --theme-divider: #47605e;
    --theme-color: #4f6b6a;
    --theme-text-color: #fff
}

.spells {
    --theme-secondary-background: #212a35;
    --theme-background: #2e3a48;
    --theme-spotlight-background: #3b4a5b;
    --theme-text-link-color: #abc9ee;
    --theme-divider: #355879;
    --theme-color: #3d5776;
    --theme-text-color: #fff
}

.magical-miscellany {
    --theme-secondary-background: #2c2621;
    --theme-background: #39322c;
    --theme-spotlight-background: #4a433c;
    --theme-text-link-color: #e1c7b0;
    --theme-divider: #685344;
    --theme-color: #534c46;
    --theme-text-color: #fff
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/normal_normal_200.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/normal_normal_250.woff2) format("woff2");
    font-weight: 250;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/normal_normal_300.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/normal_normal_400.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/normal_normal_500.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/normal_normal_500.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/normal_normal_700.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/normal_normal_800.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/normal_normal_900.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/italic_normal_200.woff2) format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/italic_normal_250.woff2) format("woff2");
    font-weight: 250;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/italic_normal_300.woff2) format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/italic_normal_400.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/italic_normal_500.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/italic_normal_500.woff2) format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/italic_normal_700.woff2) format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/italic_normal_800.woff2) format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Sofia Pro;
    src: url(/fonts/sofia-pro/italic_normal_900.woff2) format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Mason Sans OT;
    src: url(/fonts/MasonSansRegular_Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Mason Sans OT;
    src: url(/fonts/MasonSansBold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Bluu Next;
    src: url(/fonts/BluuNext-Bold.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: BluuSuuperstar-Italic;
    src: url(/fonts/BluuSuuperstar-Italic.woff2) format("woff2");
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: BluuSuuperstar-BoldItalic;
    src: url(/fonts/BluuSuuperstar-BoldItalic.woff2) format("woff2");
    font-weight: 700;
    font-display: swap
}

.body,body {
    background-color: #10141b;
    font-family: Sofia Pro,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    color: #fff;
    margin: 0
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none
}

.js-focus-visible .focus-visible {
    outline: 1px solid #9fa1ad
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.slick-list,.slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,.slick-slider .slick-track {
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after,.slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

#ot-sdk-btn.optanon-show-settings,#ot-sdk-btn.ot-sdk-show-settings {
    color: #fff!important;
    padding: 0!important;
    border: 0!important;
    white-space: unset!important;
    transition: none!important
}

#ot-sdk-btn.optanon-show-settings:hover,#ot-sdk-btn.ot-sdk-show-settings:hover {
    color: #fff!important;
    background-color: transparent!important
}

.ButtonNew_buttonRoot__qEw9q,.ButtonNew_darkPrimaryDefault__g9AaH,.ButtonNew_darkPrimaryGold__brAms,.ButtonNew_darkPrimaryPurple__meTSC,.ButtonNew_darkRoot__1_h3K,.ButtonNew_darkSecondary__6HiTc,.ButtonNew_darkTertiary__cb5Cq,.ButtonNew_goldSecondary__pdi_w,.ButtonNew_lightPrimaryDefault__wxxQE,.ButtonNew_lightPrimaryGold__nrAxv,.ButtonNew_lightPrimaryPurple__CRFPU,.ButtonNew_lightRoot__QhYGV,.ButtonNew_lightSecondary__uYX5W,.ButtonNew_lightTertiary__qrAJj {
    font-family: Sofia Pro,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 1.1px;
    position: relative;
    display: inline-block;
    color: #10141b;
    font-weight: 900;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.5px;
    border-radius: 30px;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 14px 40px 18px;
    min-width: 155px;
    background-color: #fff;
    transition: background-color .3s ease-in-out,color .3s ease-in-out
}

.ButtonNew_buttonRoot__qEw9q .ButtonNew_dimmed__1vtGI,.ButtonNew_darkPrimaryDefault__g9AaH .ButtonNew_dimmed__1vtGI,.ButtonNew_darkPrimaryGold__brAms .ButtonNew_dimmed__1vtGI,.ButtonNew_darkPrimaryPurple__meTSC .ButtonNew_dimmed__1vtGI,.ButtonNew_darkRoot__1_h3K .ButtonNew_dimmed__1vtGI,.ButtonNew_darkSecondary__6HiTc .ButtonNew_dimmed__1vtGI,.ButtonNew_darkTertiary__cb5Cq .ButtonNew_dimmed__1vtGI,.ButtonNew_goldSecondary__pdi_w .ButtonNew_dimmed__1vtGI,.ButtonNew_lightPrimaryDefault__wxxQE .ButtonNew_dimmed__1vtGI,.ButtonNew_lightPrimaryGold__nrAxv .ButtonNew_dimmed__1vtGI,.ButtonNew_lightPrimaryPurple__CRFPU .ButtonNew_dimmed__1vtGI,.ButtonNew_lightRoot__QhYGV .ButtonNew_dimmed__1vtGI,.ButtonNew_lightSecondary__uYX5W .ButtonNew_dimmed__1vtGI,.ButtonNew_lightTertiary__qrAJj .ButtonNew_dimmed__1vtGI {
    opacity: 0
}

.ButtonNew_buttonRoot__qEw9q.ButtonNew_collapseWidth__f81Tf,.ButtonNew_collapseWidth__f81Tf.ButtonNew_darkPrimaryDefault__g9AaH,.ButtonNew_collapseWidth__f81Tf.ButtonNew_darkPrimaryGold__brAms,.ButtonNew_collapseWidth__f81Tf.ButtonNew_darkPrimaryPurple__meTSC,.ButtonNew_collapseWidth__f81Tf.ButtonNew_darkRoot__1_h3K,.ButtonNew_collapseWidth__f81Tf.ButtonNew_darkSecondary__6HiTc,.ButtonNew_collapseWidth__f81Tf.ButtonNew_darkTertiary__cb5Cq,.ButtonNew_collapseWidth__f81Tf.ButtonNew_goldSecondary__pdi_w,.ButtonNew_collapseWidth__f81Tf.ButtonNew_lightPrimaryDefault__wxxQE,.ButtonNew_collapseWidth__f81Tf.ButtonNew_lightPrimaryGold__nrAxv,.ButtonNew_collapseWidth__f81Tf.ButtonNew_lightPrimaryPurple__CRFPU,.ButtonNew_collapseWidth__f81Tf.ButtonNew_lightRoot__QhYGV,.ButtonNew_collapseWidth__f81Tf.ButtonNew_lightSecondary__uYX5W,.ButtonNew_collapseWidth__f81Tf.ButtonNew_lightTertiary__qrAJj {
    min-width: 0
}

@media(hover: hover)and (pointer:fine) {
    .ButtonNew_buttonRoot__qEw9q:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_darkPrimaryDefault__g9AaH:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_darkPrimaryGold__brAms:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_darkPrimaryPurple__meTSC:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_darkRoot__1_h3K:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_darkSecondary__6HiTc:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_darkTertiary__cb5Cq:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_goldSecondary__pdi_w:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_lightPrimaryDefault__wxxQE:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_lightPrimaryGold__nrAxv:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_lightPrimaryPurple__CRFPU:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_lightRoot__QhYGV:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_lightSecondary__uYX5W:hover .ButtonNew_ctaIcon__H62i8,.ButtonNew_lightTertiary__qrAJj:hover .ButtonNew_ctaIcon__H62i8 {
        filter:invert(100%)
    }
}

.ButtonNew_buttonRoot__qEw9q svg,.ButtonNew_darkPrimaryDefault__g9AaH svg,.ButtonNew_darkPrimaryGold__brAms svg,.ButtonNew_darkPrimaryPurple__meTSC svg,.ButtonNew_darkRoot__1_h3K svg,.ButtonNew_darkSecondary__6HiTc svg,.ButtonNew_darkTertiary__cb5Cq svg,.ButtonNew_goldSecondary__pdi_w svg,.ButtonNew_lightPrimaryDefault__wxxQE svg,.ButtonNew_lightPrimaryGold__nrAxv svg,.ButtonNew_lightPrimaryPurple__CRFPU svg,.ButtonNew_lightRoot__QhYGV svg,.ButtonNew_lightSecondary__uYX5W svg,.ButtonNew_lightTertiary__qrAJj svg {
    margin-right: 10px
}

.ButtonNew_buttonRoot__qEw9q svg path,.ButtonNew_darkPrimaryDefault__g9AaH svg path,.ButtonNew_darkPrimaryGold__brAms svg path,.ButtonNew_darkPrimaryPurple__meTSC svg path,.ButtonNew_darkRoot__1_h3K svg path,.ButtonNew_darkSecondary__6HiTc svg path,.ButtonNew_darkTertiary__cb5Cq svg path,.ButtonNew_goldSecondary__pdi_w svg path,.ButtonNew_lightPrimaryDefault__wxxQE svg path,.ButtonNew_lightPrimaryGold__nrAxv svg path,.ButtonNew_lightPrimaryPurple__CRFPU svg path,.ButtonNew_lightRoot__QhYGV svg path,.ButtonNew_lightSecondary__uYX5W svg path,.ButtonNew_lightTertiary__qrAJj svg path {
    transition: fill .3s ease-in-out
}

.ButtonNew_buttonRoot__qEw9q.ButtonNew_withCtaIcon__jJ7o3>div,.ButtonNew_buttonRoot__qEw9q.ButtonNew_withIcon__iiy90>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_darkPrimaryDefault__g9AaH>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_darkPrimaryGold__brAms>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_darkPrimaryPurple__meTSC>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_darkRoot__1_h3K>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_darkSecondary__6HiTc>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_darkTertiary__cb5Cq>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_goldSecondary__pdi_w>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_lightPrimaryDefault__wxxQE>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_lightPrimaryGold__nrAxv>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_lightPrimaryPurple__CRFPU>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_lightRoot__QhYGV>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_lightSecondary__uYX5W>div,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_lightTertiary__qrAJj>div,.ButtonNew_withIcon__iiy90.ButtonNew_darkPrimaryDefault__g9AaH>div,.ButtonNew_withIcon__iiy90.ButtonNew_darkPrimaryGold__brAms>div,.ButtonNew_withIcon__iiy90.ButtonNew_darkPrimaryPurple__meTSC>div,.ButtonNew_withIcon__iiy90.ButtonNew_darkRoot__1_h3K>div,.ButtonNew_withIcon__iiy90.ButtonNew_darkSecondary__6HiTc>div,.ButtonNew_withIcon__iiy90.ButtonNew_darkTertiary__cb5Cq>div,.ButtonNew_withIcon__iiy90.ButtonNew_goldSecondary__pdi_w>div,.ButtonNew_withIcon__iiy90.ButtonNew_lightPrimaryDefault__wxxQE>div,.ButtonNew_withIcon__iiy90.ButtonNew_lightPrimaryGold__nrAxv>div,.ButtonNew_withIcon__iiy90.ButtonNew_lightPrimaryPurple__CRFPU>div,.ButtonNew_withIcon__iiy90.ButtonNew_lightRoot__QhYGV>div,.ButtonNew_withIcon__iiy90.ButtonNew_lightSecondary__uYX5W>div,.ButtonNew_withIcon__iiy90.ButtonNew_lightTertiary__qrAJj>div {
    display: flex;
    justify-content: center
}

.ButtonNew_buttonRoot__qEw9q.ButtonNew_withCtaIcon__jJ7o3 svg,.ButtonNew_buttonRoot__qEw9q.ButtonNew_withIcon__iiy90 svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_darkPrimaryDefault__g9AaH svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_darkPrimaryGold__brAms svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_darkPrimaryPurple__meTSC svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_darkRoot__1_h3K svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_darkSecondary__6HiTc svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_darkTertiary__cb5Cq svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_goldSecondary__pdi_w svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_lightPrimaryDefault__wxxQE svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_lightPrimaryGold__nrAxv svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_lightPrimaryPurple__CRFPU svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_lightRoot__QhYGV svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_lightSecondary__uYX5W svg,.ButtonNew_withCtaIcon__jJ7o3.ButtonNew_lightTertiary__qrAJj svg,.ButtonNew_withIcon__iiy90.ButtonNew_darkPrimaryDefault__g9AaH svg,.ButtonNew_withIcon__iiy90.ButtonNew_darkPrimaryGold__brAms svg,.ButtonNew_withIcon__iiy90.ButtonNew_darkPrimaryPurple__meTSC svg,.ButtonNew_withIcon__iiy90.ButtonNew_darkRoot__1_h3K svg,.ButtonNew_withIcon__iiy90.ButtonNew_darkSecondary__6HiTc svg,.ButtonNew_withIcon__iiy90.ButtonNew_darkTertiary__cb5Cq svg,.ButtonNew_withIcon__iiy90.ButtonNew_goldSecondary__pdi_w svg,.ButtonNew_withIcon__iiy90.ButtonNew_lightPrimaryDefault__wxxQE svg,.ButtonNew_withIcon__iiy90.ButtonNew_lightPrimaryGold__nrAxv svg,.ButtonNew_withIcon__iiy90.ButtonNew_lightPrimaryPurple__CRFPU svg,.ButtonNew_withIcon__iiy90.ButtonNew_lightRoot__QhYGV svg,.ButtonNew_withIcon__iiy90.ButtonNew_lightSecondary__uYX5W svg,.ButtonNew_withIcon__iiy90.ButtonNew_lightTertiary__qrAJj svg {
    position: relative;
    bottom: -2px
}

.ButtonNew_buttonRoot__qEw9q.ButtonNew_iconAlignRight__tb_5P,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_darkPrimaryDefault__g9AaH,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_darkPrimaryGold__brAms,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_darkPrimaryPurple__meTSC,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_darkRoot__1_h3K,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_darkSecondary__6HiTc,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_darkTertiary__cb5Cq,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_goldSecondary__pdi_w,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_lightPrimaryDefault__wxxQE,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_lightPrimaryGold__nrAxv,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_lightPrimaryPurple__CRFPU,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_lightRoot__QhYGV,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_lightSecondary__uYX5W,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_lightTertiary__qrAJj {
    flex-direction: row-reverse
}

.ButtonNew_buttonRoot__qEw9q.ButtonNew_iconAlignRight__tb_5P svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_darkPrimaryDefault__g9AaH svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_darkPrimaryGold__brAms svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_darkPrimaryPurple__meTSC svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_darkRoot__1_h3K svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_darkSecondary__6HiTc svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_darkTertiary__cb5Cq svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_goldSecondary__pdi_w svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_lightPrimaryDefault__wxxQE svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_lightPrimaryGold__nrAxv svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_lightPrimaryPurple__CRFPU svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_lightRoot__QhYGV svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_lightSecondary__uYX5W svg,.ButtonNew_iconAlignRight__tb_5P.ButtonNew_lightTertiary__qrAJj svg {
    margin-right: 0;
    margin-left: 10px
}

@media(hover: hover)and (pointer:fine) {
    .ButtonNew_buttonRoot__qEw9q:hover:enabled,.ButtonNew_darkPrimaryDefault__g9AaH:hover:enabled,.ButtonNew_darkPrimaryGold__brAms:hover:enabled,.ButtonNew_darkPrimaryPurple__meTSC:hover:enabled,.ButtonNew_darkRoot__1_h3K:hover:enabled,.ButtonNew_darkSecondary__6HiTc:hover:enabled,.ButtonNew_darkTertiary__cb5Cq:hover:enabled,.ButtonNew_goldSecondary__pdi_w:hover:enabled,.ButtonNew_lightPrimaryDefault__wxxQE:hover:enabled,.ButtonNew_lightPrimaryGold__nrAxv:hover:enabled,.ButtonNew_lightPrimaryPurple__CRFPU:hover:enabled,.ButtonNew_lightRoot__QhYGV:hover:enabled,.ButtonNew_lightSecondary__uYX5W:hover:enabled,.ButtonNew_lightTertiary__qrAJj:hover:enabled {
        cursor:pointer;
        background-color: #d2d3db
    }
}

.ButtonNew_buttonRoot__qEw9q:focus,.ButtonNew_darkPrimaryDefault__g9AaH:focus,.ButtonNew_darkPrimaryGold__brAms:focus,.ButtonNew_darkPrimaryPurple__meTSC:focus,.ButtonNew_darkRoot__1_h3K:focus,.ButtonNew_darkSecondary__6HiTc:focus,.ButtonNew_darkTertiary__cb5Cq:focus,.ButtonNew_goldSecondary__pdi_w:focus,.ButtonNew_lightPrimaryDefault__wxxQE:focus,.ButtonNew_lightPrimaryGold__nrAxv:focus,.ButtonNew_lightPrimaryPurple__CRFPU:focus,.ButtonNew_lightRoot__QhYGV:focus,.ButtonNew_lightSecondary__uYX5W:focus,.ButtonNew_lightTertiary__qrAJj:focus {
    outline: none
}

.ButtonNew_buttonRoot__qEw9q:disabled,.ButtonNew_darkPrimaryDefault__g9AaH:disabled,.ButtonNew_darkPrimaryGold__brAms:disabled,.ButtonNew_darkPrimaryPurple__meTSC:disabled,.ButtonNew_darkRoot__1_h3K:disabled,.ButtonNew_darkSecondary__6HiTc:disabled,.ButtonNew_darkTertiary__cb5Cq:disabled,.ButtonNew_goldSecondary__pdi_w:disabled,.ButtonNew_lightPrimaryDefault__wxxQE:disabled,.ButtonNew_lightPrimaryGold__nrAxv:disabled,.ButtonNew_lightPrimaryPurple__CRFPU:disabled,.ButtonNew_lightRoot__QhYGV:disabled,.ButtonNew_lightSecondary__uYX5W:disabled,.ButtonNew_lightTertiary__qrAJj:disabled {
    opacity: .5;
    cursor: not-allowed;
    background-color: #d2d3db;
    color: #f9f4f2;
    border: 1px solid transparent
}

.ButtonNew_label__lCcfm {
    position: relative;
    bottom: -2px
}

.ButtonNew_darkPrimaryDefault__g9AaH:disabled svg path,.ButtonNew_darkPrimaryGold__brAms:disabled svg path,.ButtonNew_darkPrimaryPurple__meTSC:disabled svg path,.ButtonNew_darkRoot__1_h3K:disabled svg path,.ButtonNew_darkSecondary__6HiTc:disabled svg path,.ButtonNew_darkTertiary__cb5Cq:disabled svg path,.ButtonNew_goldSecondary__pdi_w:disabled svg path {
    fill: #fff
}

.ButtonNew_darkPrimaryDefault__g9AaH .ButtonNew_spinner__XCgFK {
    border-top-color: #10141b
}

.ButtonNew_darkPrimaryDefault__g9AaH svg path {
    fill: #10141b
}

.ButtonNew_darkPrimaryPurple__meTSC {
    color: #fff;
    background-color: #514a92
}

@media(hover: hover)and (pointer:fine) {
    .ButtonNew_darkPrimaryPurple__meTSC:hover:enabled {
        background-color:#433c87
    }
}

.ButtonNew_darkPrimaryPurple__meTSC:disabled {
    background-color: #514a92
}

.ButtonNew_darkPrimaryGold__brAms {
    background-color: #d2aa6b
}

@media(hover: hover)and (pointer:fine) {
    .ButtonNew_darkPrimaryGold__brAms:hover:enabled {
        background-color:#ecbf77
    }
}

.ButtonNew_darkPrimaryGold__brAms svg path {
    fill: #10141b
}

.ButtonNew_darkPrimaryGold__brAms:disabled {
    background-color: #d2aa6b;
    color: #10141b
}

.ButtonNew_darkSecondary__6HiTc,.ButtonNew_goldSecondary__pdi_w {
    color: #fff;
    background-color: transparent;
    border: 1px solid #d2d3db
}

@media(hover: hover)and (pointer:fine) {
    .ButtonNew_darkSecondary__6HiTc:hover:enabled,.ButtonNew_goldSecondary__pdi_w:hover:enabled {
        color:#10141b;
        background-color: #fff
    }

    .ButtonNew_darkSecondary__6HiTc:hover:enabled svg path,.ButtonNew_goldSecondary__pdi_w:hover:enabled svg path {
        fill: #10141b
    }
}

.ButtonNew_darkSecondary__6HiTc:disabled,.ButtonNew_goldSecondary__pdi_w:disabled {
    color: #fff;
    background-color: transparent;
    border: 1px solid #d2d3db
}

.ButtonNew_darkTertiary__cb5Cq {
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    color: #f9f4f2;
    min-width: auto;
    padding: 0 0 3px
}

@media(hover: hover)and (pointer:fine) {
    .ButtonNew_darkTertiary__cb5Cq:hover:enabled {
        background-color:transparent;
        border-bottom: 1px solid #f9f4f2
    }
}

.ButtonNew_darkTertiary__cb5Cq:disabled {
    opacity: 1;
    color: #9fa1ad;
    background-color: transparent
}

.ButtonNew_goldSecondary__pdi_w {
    color: #ecbf77;
    background-color: transparent;
    border: 1px solid #ecbf77
}

@media(hover: hover)and (pointer:fine) {
    .ButtonNew_goldSecondary__pdi_w:hover:enabled {
        color:#f9f4f2;
        background-color: #ecbf77
    }

    .ButtonNew_goldSecondary__pdi_w:hover:enabled svg path {
        fill: #10141b
    }
}

.ButtonNew_goldSecondary__pdi_w:disabled {
    border: 1px solid #d2aa6b;
    color: #d2aa6b
}

.ButtonNew_lightPrimaryDefault__wxxQE:disabled,.ButtonNew_lightPrimaryGold__nrAxv:disabled,.ButtonNew_lightPrimaryPurple__CRFPU:disabled,.ButtonNew_lightRoot__QhYGV:disabled,.ButtonNew_lightSecondary__uYX5W:disabled,.ButtonNew_lightTertiary__qrAJj:disabled {
    background-color: #bdbdbd;
    color: #696a71
}

.ButtonNew_lightPrimaryDefault__wxxQE:disabled svg path,.ButtonNew_lightPrimaryGold__nrAxv:disabled svg path,.ButtonNew_lightPrimaryPurple__CRFPU:disabled svg path,.ButtonNew_lightRoot__QhYGV:disabled svg path,.ButtonNew_lightSecondary__uYX5W:disabled svg path,.ButtonNew_lightTertiary__qrAJj:disabled svg path {
    fill: #fff
}

.ButtonNew_lightPrimaryDefault__wxxQE {
    background-color: #10141b;
    color: #fff
}

@media(hover: hover)and (pointer:fine) {
    .ButtonNew_lightPrimaryDefault__wxxQE:hover:enabled {
        background-color:#242633
    }
}

.ButtonNew_lightPrimaryPurple__CRFPU {
    background-color: #231e4e;
    color: #fff
}

@media(hover: hover)and (pointer:fine) {
    .ButtonNew_lightPrimaryPurple__CRFPU:hover:enabled {
        background-color:#514a92
    }
}

.ButtonNew_lightPrimaryPurple__CRFPU:disabled {
    background-color: #231e4e;
    color: #fff
}

.ButtonNew_lightPrimaryGold__nrAxv {
    background-color: #d2aa6b;
    color: #10141b
}

.ButtonNew_lightPrimaryGold__nrAxv svg path {
    fill: #10141b
}

@media(hover: hover)and (pointer:fine) {
    .ButtonNew_lightPrimaryGold__nrAxv:hover:enabled {
        background-color:#ecbf77
    }
}

.ButtonNew_lightPrimaryGold__nrAxv:disabled {
    background-color: #d2aa6b;
    color: #10141b
}

.ButtonNew_lightSecondary__uYX5W {
    color: #10141b;
    background-color: transparent;
    border: 1px solid #10141b
}

.ButtonNew_lightSecondary__uYX5W svg path {
    fill: #10141b
}

@media(hover: hover)and (pointer:fine) {
    .ButtonNew_lightSecondary__uYX5W:hover:enabled {
        color:#fff;
        background-color: #10141b;
        border: 1px solid transparent
    }

    .ButtonNew_lightSecondary__uYX5W:hover:enabled .ButtonNew_spinner__XCgFK {
        border-top-color: #fff
    }

    .ButtonNew_lightSecondary__uYX5W:hover:enabled svg path {
        fill: #fff
    }
}

.ButtonNew_lightSecondary__uYX5W:disabled {
    color: #10141b;
    background-color: transparent;
    border: 1px solid #10141b
}

.ButtonNew_lightSecondary__uYX5W:disabled svg path {
    fill: #10141b
}

.ButtonNew_lightSecondary__uYX5W .ButtonNew_spinner__XCgFK {
    border-top-color: #10141b
}

.ButtonNew_lightTertiary__qrAJj {
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    color: #10141b;
    min-width: auto;
    padding: 0 0 3px
}

.ButtonNew_lightTertiary__qrAJj svg path {
    fill: #10141b
}

@media(hover: hover)and (pointer:fine) {
    .ButtonNew_lightTertiary__qrAJj:hover:enabled {
        background-color:transparent;
        border-bottom: 1px solid #10141b
    }
}

.ButtonNew_lightTertiary__qrAJj:disabled {
    opacity: 1;
    color: #9fa1ad;
    background-color: transparent
}

.ButtonNew_lightTertiary__qrAJj:disabled svg path {
    fill: #9fa1ad
}

.ButtonNew_spinner__XCgFK {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 14px;
    height: 14px;
    margin: 0 auto;
    background: transparent;
    box-sizing: border-box;
    border: 4px solid transparent;
    border-top-color: #fff;
    border-radius: 100%;
    animation: ButtonNew_spin__cgxry .6s ease-out infinite
}

.ButtonNew_ctaIcon__H62i8 {
    width: 16px;
    height: 16px;
    padding-right: 20px
}

.ButtonNew_modern__j6D6G {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Sofia Pro,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-style: normal;
    font-weight: 900;
    border-radius: 100px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: background-color .3s ease-in-out,color .3s ease-in-out
}

.ButtonNew_modern__j6D6G .ButtonNew_label__lCcfm {
    text-decoration: none;
    display: block;
    min-height: 14px
}

.ButtonNew_modern__j6D6G.ButtonNew_large__SPYUe {
    padding: 16px 48px 18px;
    font-size: 14px;
    line-height: 14px
}

.ButtonNew_modern__j6D6G.ButtonNew_large__SPYUe:focus {
    outline: 2px solid #ecbe76;
    outline-offset: 7px
}

.ButtonNew_modern__j6D6G.ButtonNew_large__SPYUe .ButtonNew_label__lCcfm {
    bottom: auto
}

.ButtonNew_modern__j6D6G.ButtonNew_large__SPYUe .ButtonNew_spinner__XCgFK {
    width: 24px;
    height: 24px
}

.ButtonNew_modern__j6D6G.ButtonNew_small__fPo14 {
    padding: 6px 16px 10px;
    font-size: 12px;
    line-height: 12px
}

.ButtonNew_modern__j6D6G.ButtonNew_small__fPo14:focus {
    outline: 1px solid #ecbe76;
    outline-offset: 7px
}

.ButtonNew_modern__j6D6G.ButtonNew_primary__WUSZ4 {
    color: #fff;
    background: #6b63b5;
    border: 1px solid transparent
}

.ButtonNew_modern__j6D6G.ButtonNew_primary__WUSZ4:hover {
    background: #433c87
}

.ButtonNew_modern__j6D6G.ButtonNew_primary__WUSZ4:disabled {
    background: #2f2f4d;
    color: #696b78;
    cursor: default
}

.ButtonNew_modern__j6D6G.ButtonNew_primary__WUSZ4 .ButtonNew_dimmed__1vtGI .ButtonNew_label__lCcfm {
    pointer-events: none;
    color: transparent
}

.ButtonNew_modern__j6D6G.ButtonNew_primary__WUSZ4.ButtonNew_gold__EUCZu {
    background-color: #d2aa6b
}

.ButtonNew_modern__j6D6G.ButtonNew_secondary__rgOHO {
    color: #fff;
    background: transparent;
    border: 1px solid #fff
}

.ButtonNew_modern__j6D6G.ButtonNew_secondary__rgOHO:hover {
    background: #fff;
    color: #000
}

.ButtonNew_modern__j6D6G.ButtonNew_secondary__rgOHO:disabled {
    border: 1px solid #2f2f4d;
    color: #696b78;
    cursor: default
}

.ButtonNew_modern__j6D6G.ButtonNew_secondary__rgOHO:disabled:hover {
    background: transparent;
    color: #696b78
}

.ButtonNew_modern__j6D6G.ButtonNew_gryffindor__L_KyV {
    color: #fff;
    background: #fc7366;
    border: 1px solid transparent
}

.ButtonNew_modern__j6D6G.ButtonNew_gryffindor__L_KyV:hover {
    background: #c6594f
}

.ButtonNew_modern__j6D6G.ButtonNew_gryffindor__L_KyV:disabled {
    background: #c6594f;
    color: #696b78;
    cursor: default
}

.ButtonNew_modern__j6D6G.ButtonNew_gryffindor__L_KyV .ButtonNew_dimmed__1vtGI .ButtonNew_label__lCcfm {
    pointer-events: none;
    color: transparent
}

.ButtonNew_modern__j6D6G.ButtonNew_hufflepuff__Wy98e {
    color: #fff;
    background: #cd8430;
    border: 1px solid transparent
}

.ButtonNew_modern__j6D6G.ButtonNew_hufflepuff__Wy98e:hover {
    background: #935d1f
}

.ButtonNew_modern__j6D6G.ButtonNew_hufflepuff__Wy98e:disabled {
    background: #cd8430;
    color: #696b78;
    cursor: default
}

.ButtonNew_modern__j6D6G.ButtonNew_hufflepuff__Wy98e .ButtonNew_dimmed__1vtGI .ButtonNew_label__lCcfm {
    pointer-events: none;
    color: transparent
}

.ButtonNew_modern__j6D6G.ButtonNew_ravenclaw__RdKTW {
    color: #fff;
    background: #265ba6;
    border: 1px solid transparent
}

.ButtonNew_modern__j6D6G.ButtonNew_ravenclaw__RdKTW:hover {
    background: #1e4884
}

.ButtonNew_modern__j6D6G.ButtonNew_ravenclaw__RdKTW:disabled {
    background: #265ba6;
    color: #696b78;
    cursor: default
}

.ButtonNew_modern__j6D6G.ButtonNew_ravenclaw__RdKTW .ButtonNew_dimmed__1vtGI .ButtonNew_label__lCcfm {
    pointer-events: none;
    color: transparent
}

.ButtonNew_modern__j6D6G.ButtonNew_slytherin_____Gj {
    color: #fff;
    background: #086758;
    border: 1px solid transparent
}

.ButtonNew_modern__j6D6G.ButtonNew_slytherin_____Gj:hover {
    background: #054d41
}

.ButtonNew_modern__j6D6G.ButtonNew_slytherin_____Gj:disabled {
    background: #086758;
    color: #696b78;
    cursor: default
}

.ButtonNew_modern__j6D6G.ButtonNew_slytherin_____Gj .ButtonNew_dimmed__1vtGI .ButtonNew_label__lCcfm {
    pointer-events: none;
    color: transparent
}

.ButtonNew_modern__j6D6G.ButtonNew_isGradient__aqLG1 {
    position: relative;
    transition: background-color .3s;
    overflow: hidden;
    padding: 12px 24px 16px;
    border: 0;
    font-size: 12px;
    letter-spacing: .5px;
    font-weight: 800
}

.ButtonNew_modern__j6D6G.ButtonNew_isGradient__aqLG1.ButtonNew_large__SPYUe {
    padding: 16px 48px 18px;
    font-size: 14px;
    line-height: 14px
}

.ButtonNew_modern__j6D6G.ButtonNew_isGradient__aqLG1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity .3s ease-in
}

.ButtonNew_modern__j6D6G.ButtonNew_isGradient__aqLG1.ButtonNew_purple__0B9OH {
    background-color: #4b4770
}

.ButtonNew_modern__j6D6G.ButtonNew_isGradient__aqLG1.ButtonNew_purple__0B9OH:before {
    background: linear-gradient(90deg,#59489f,#463c9d 48.96%,#464ab2)
}

.ButtonNew_modern__j6D6G.ButtonNew_isGradient__aqLG1.ButtonNew_gold__EUCZu {
    background-color: #87621b
}

.ButtonNew_modern__j6D6G.ButtonNew_isGradient__aqLG1.ButtonNew_gold__EUCZu:before {
    background: linear-gradient(93deg,#9d8507 6.8%,#ab853a 49.06%,#9c7831 104.04%)
}

.ButtonNew_modern__j6D6G.ButtonNew_isGradient__aqLG1:hover:enabled:before {
    opacity: 0
}

.ButtonNew_modern__j6D6G.ButtonNew_isGradient__aqLG1:disabled {
    opacity: .6;
    color: #fff
}

.ButtonNew_link__fs2Lh {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Sofia Pro,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-style: normal;
    font-weight: 400;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    text-underline-offset: 3px;
    padding: 2px 16px 10px;
    background: transparent;
    border: 1px solid transparent;
    text-transform: none;
    font-size: 15px;
    line-height: 24px;
    text-decoration: underline;
    color: #c2bbff;
    letter-spacing: normal
}

.ButtonNew_link__fs2Lh:hover {
    color: #fff;
    background: transparent;
    border: 1px solid transparent
}

.ButtonNew_link__fs2Lh:disabled {
    color: #696b78;
    background: transparent;
    cursor: default;
    border: 1px solid transparent
}

.ButtonNew_link__fs2Lh:focus {
    outline: 1px solid #ecbe76;
    outline-offset: 0
}

.ButtonNew_link__fs2Lh .ButtonNew_dimmed__1vtGI .ButtonNew_label__lCcfm {
    pointer-events: all;
    color: #c2bbff
}

@keyframes ButtonNew_spin__cgxry {
    to {
        transform: translate(-50%,-50%) rotate(1turn)
    }
}

.RedirectBanner_root__kO_2o {
    box-sizing: border-box;
    font-family: Sofia Pro,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-weight: 400;
    color: #f9f4f2;
    letter-spacing: 1px;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: #6b63b5;
    z-index: 11;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center
}

@media(max-width: 900px) {
    .RedirectBanner_root__kO_2o {
        text-align:center;
        flex-direction: column;
        justify-content: space-around
    }

    .RedirectBanner_root__kO_2o .RedirectBanner_completionText__gDhtM {
        padding: 5px 0 20px
    }
}

/*# sourceMappingURL=c45784b30e614f94.css.map*/
